@charset "utf-8";
*{margin:0;padding: 0;}
a{text-decoration: none;}
ul dl li{list-style: none;}
html{font-size: 3vw;}
body{background: #EEEEEE;}
//首页动画效果
#donghua{position: relative;
z-index: 999999;
img{width: 100%;}
p{width: 30rem;
height: 5rem;
background:white;
animation: move 3s linear;
position: absolute;
top: 53%;
right: 20%;}
}
/*.wrap1{display: none;}*/
@-webkit-keyframes move{
	0%{width: 30rem;}
	20%{width: 25rem;}
	40%{width: 20rem;}
	60%{width: 15rem;}
	80%{width: 10rem;}
	90%{width: 5rem;}
	100%{width: 0rem;}
}
@-ms-keyframes move{
	0%{width: 30rem;}
    20%{width: 25rem;}
    40%{width: 20rem;}
    60%{width: 15rem;}
    80%{width: 10rem;}
    90%{width: 5rem;}
    100%{width: 0rem;}
}
//导航搜索栏样式
nav{width: 100%;
position: fixed;
top: 0px;
z-index: 99;
padding-top: 0.5vh;
padding-bottom: 0.5vh;
font-family:"微软雅黑";
background:rgba(0,0,0,0.6);
display: flex;
flex-wrap: nowrap;
text-align: center;
align-items: center;
justify-content:space-between;
}
nav .left,.right{font-size:3vw;
width: 10vw;
color:white}
nav .left{margin-left: 3%;}
nav .right{margin-right: 3%}
nav .right img{width:8vw;
height: 6vw;
}
nav .left img{width:8vw;
height: 6vw;
}
nav .center{position: relative;}
nav .center input{height: 5vh;
border: 0px;
width: 70vw;
text-align: center;
font-family: "微软雅黑";
font-size: 3vw;
border-radius: 5rem;}
nav .center .img1{position: absolute;
left: 2rem;
top:1vh;
width: 8%;
}
nav a{color:black;}
//首页轮播图1
#main1 .lunbo1 img{width: 100%;
height:100%}
#main1 .lunbo1 .xiao{margin-left: 30%;}
/*#main1 .lunbo1 .swiper-pagination-bullet{
width: 0.5rem;height: 1rem;
}*/
#main1 .swiper-pagination-bullet-active{
background: white;
}
//分类栏
#main2 p{clear: both;
padding-top: 1rem;}
#main2 dl{width: 25%;
float: left;
font-family: "微软雅黑";
font-size: 3vw;
font-weight: bold;
text-align: center;}
#main2 a{color: black;}
#main2 dl img{width: 60%;}
#main2 dl dd{margin-top: 0.5rem;}
//超级秒杀
#hot1{font-size: 6vw;
padding: 1vh 0px;
border-top: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
font-family: "微软雅黑";
display: flex;
align-items: center;
justify-content:space-between;
}
#hot1 span:nth-child(1){padding-left: 5%;
color: cornflowerblue;
width: 30%;
border-left: 5px solid cornflowerblue;}
#hot1 span:nth-child(2){
font-size: 4vw;
padding-right: 5%;
}
//超级秒杀数据
#main3,#hot1,#main2{background: white;}
#main3 dl{width: 33%;
text-align: center;
font-family: "微软雅黑";
font-size: 5vw;
position: relative;}
#main3 dl dt img{width: 100%;}
#main3 dl dd:nth-of-type(1){
color: black;
}
#main3 dl dd:nth-of-type(2){
font-size: 4vw;
color: #666666;
text-decoration: line-through;
}
#main3 dl span{font-size: 4vw;
color: white;
background: orange;
padding: 0.5rem 1.5rem;
border-radius: 2rem 0rem;
position: absolute;
bottom: 30%;
right: 0rem;}
//新人分享
#main4{margin-top: 3%;
height: 20rem;
overflow: hidden;
span{box-sizing: border-box;}
.img1{width: 45%;float: left;}
.img2{width: 55%;float:right;}
.img3{width: 55%;float: right;}
img{width: 100%;}
}
//底部工具栏
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding-top: 0.3rem;
    background: #fff;
    a{
        color: #666666;
        float: left;
        width: 20%;
        height: 100%;
        font-size: 1.4rem;
        text-align: center;
    }
    
}
#foot{height: 8rem;
    overflow: hidden;
    width: 100%;}
#footer>a:nth-child(3){
    margin-left: 20%;
}
#footer>a>div{
    height: 2.2rem;
    width: 25%;
    margin-left: 33%;
    padding-left: 5%;
    background-size: 110%;
}
.indexBtn1-1>div{
    background: url(../img/bzhuye.png);
    color: #2D8FF4;
}
.indexBtn2-1>div{
    background: url(../img/bfenlei.png);
    color: #2D8FF4;
}
.indexBtn3-1>div{
    background: url(../img/bgouwuche.png);
    color: #2D8FF4;
}
.indexBtn4-1>div{
    background: url(../img/bgerenzhongxin.png);
    color: #2D8FF4;
}
.indexBtn1>div{
    background: url(../img/zhuye.jpg);
}
.indexBtn2>div{
    background: url(../img/feilei.jpg);
}
.indexBtn3>div{
    background: url(../img/gouwuche.jpg);
}
.indexBtn4>div{
    background: url(../img/gerenzhongxin.jpg);
}
.index_btn{
    color: #2D8FF4;
}
#consult{
    width: 10%;
    position: absolute;
    left: 50%;
    top:0.4rem;
    margin-left: -1.75rem;
}
.index_mask{
    display: none;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.index_server{
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translateY(70%);
    z-index:100;
}
#index_X{
    position: absolute;
    width: 12%;
    bottom: 6%;
    left: 44%;
    border-radius: 50%;
}
.index_server>div{
    margin-top: 4rem;
    width: 20%;
}
.index_server>div>img{
    width: 100%;
}
.index_server>div p{
    text-align: center;
    margin-top: 1rem;
    font-size:1.5rem;
    line-height: 0.21rem;
}
.index_umbrella{
    margin-top: 20%;
    margin-left: 15%;
    width: 50%;
}
#index_loading{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
#index_loading>img{
    width: 100%;
    height: 100%;
}
#index_whiteMask{
    width:45%;
    height: 7%;
    background: #fff;
    position: absolute;
    right: 27%;
    top: 52%;
}
@keyframes show{
    0%{
        transform: translateY(500%);
    }70%{
        transform: translateY(30%);
    }100%{
        transform: translateY(70%);
    }
    
}
@keyframes hide{
    0%{
        transform: translateY(70%);
    }100%{
        transform: translateY(500%);
    }
    
}
//@keyframes loadindHide{
//  0%{
//      transform: scale();
//  }
//  100%{
//      transform: scale(0.01,0.01) translateX(-300%) translateY(-300%);
//      opacity: 0;
//  }  
//}
//热门科室
#hot2{font-size: 6vw;
margin-top: 2%;
padding: 1vh 0px;
border-top: 1px solid #EEEEEE;
font-family: "微软雅黑";
background: white;
display: flex;
align-items: center;
justify-content:space-between;
}
#hot2 span{padding-left: 5%;
color: cornflowerblue;
width: 30%;
border-left: 5px solid cornflowerblue;}
#main5{box-sizing: border-box;}
#main5 .p1,.p2,.p3{display: flex;
justify-content:space-between;}
#main5 .p1{height: 30vh;}
#main5 .p1 img{width: 50%;
border: 1px solid #E0E0E0;}
#main5 .p2{height: 15vh;}
#main5 .p2 img{width: 50%;
border: 1px solid #E0E0E0;}
#main5 .p3{height: 20vh;}
#main5 .p3 img{width: 25%;
border: 1px solid #E0E0E0;}
//猜你喜欢
#hot3{text-align: center;
font-family: "微软雅黑";
font-size: 2rem;}
#hot3 p{padding: 2vw 0;}
//猜你喜欢数据样式
#main6 dl{overflow: hidden;
margin-top: 2rem;
font-size: 1.4rem;
background: white;
font-family: "微软雅黑";
float: left;
width: 48%;
margin-left: 1%;
margin-right: 1%;}
#main6 dl img{width: 100%;}
#main6 dl span,dd{padding-left: 5%;}
#main6 dl dd{height: 4rem;}
#main6 dl span{line-height: 2rem;}
#main6 dl span:nth-of-type(1){
    float: left;
    color: orangered;
}
#main6 dl span:nth-of-type(2){
    float: right;
    text-decoration: line-through;
    padding-right: 5%;
}
